@{
    ViewBag.Title = "Lan Center Ale - Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Top-->
<div class="container-fluid bowling-bg">
    <div class="container about-sec">
        <div class="col-md-1"></div>
        <div class="col-md-5 padd-50">
            <h2 class="welc-h2">BIENVENIDOS</h2>
            <div class="h2-underline"></div>
            <h3 class="welc-h3">
                JUEGOS ONLINE<br>
                & APUESTAS.
            </h3>
        </div>
        <div class="col-md-5 padd-50" style="padding-right:50px;">
            <h2 class="story-h2">Nuestra Historia</h2>
            <p class="story-p">bla bla...</p>
            <p class="story-p">BLA BLA..</p>
        </div>
        <div class="col-md-1"></div>
        <div class="clearfix"></div>
    </div>
</div>

<!--ABOUT-Top-->
<div class="container-fluid padd-70">
    <div class="container">

        <div class="about-top">

            <div class="col-xs-12 col-md-6">
                <div class="about-us-img"><img src="images/about-top-1.jpg" class="img-responsive" /></div>
            </div>
            <div class="col-xs-12 col-md-6 about-btm-top-mar">
                <h2 class="story-h2" style="margin-top:0;">About</h2>
                <h3 class="welc-h3" style="font-size:32px; margin-top:0;">All Seasons Bowling Center</h3>
                <p class="story-p">Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elemen tum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentesque tempor sem in metus pretium egestas. Suspendisse sit amet pulvinar tortor, et ornare ligula. Ves tibulum purus diam. Vestibulum auctor libero vel ex volutpat porta. In tempor vel nulla ut consequat.</p>
                <p class="story-p" style="margin-top:20px;">Sagittis et erat non, iaculis tristique lacus. Curabitur ut libero quis augue porttitor varius. Aenean quam nunc, frin gilla vel dapibus sit amet, portti tor scelerisque neque.</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="about-btm">

            <div class="col-xs-12 col-md-6 col-md-push-6">

                <div id="carousel-example-generic" class="carousel slide about-us-img about-slider" data-ride="carousel" style="position:relative;">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="images/about-slider-1.jpg" alt="..." class="img-responsive bowling-right-img">
                        </div>
                        <div class="item">
                            <img src="images/about-slider-2.jpg" alt="..." class="img-responsive bowling-right-img">
                        </div>
                        <div class="item">
                            <img src="images/about-slider-3.jpg" alt="..." class="img-responsive bowling-right-img">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon-chevron-left" aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon-chevron-right" aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

            <div class="col-xs-12 col-md-6 col-md-pull-6 about-btm-top-mar">
                <h2 class="story-h2" style="margin-top:0;">Our</h2>
                <h3 class="welc-h3" style="font-size:32px; margin-top:0; margin-bottom:20px;">Luxurious Facilities</h3>

                <div class="about-btm-list">
                    <div class="about-page-top"><span class="about-btm-list-span"></span><h3>Morbi eu nisi accumsan, pretium tellus at, ultricies enim.</h3></div>
                    <div class="about-page-top"><span class="about-btm-list-span"></span><h3>Donec elemen tum felis ligula, nec volutpat lacus euismod id.</h3></div>
                    <div class="about-page-top"><span class="about-btm-list-span"></span><h3>Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. </h3></div>
                    <div class="about-page-top"><span class="about-btm-list-span"></span><h3>Pellentesque tempor sem in metus pretium egestas.</h3></div>
                    <div class="about-page-top"><span class="about-btm-list-span"></span><h3>Suspendisse sit amet pulvinar tortor, et ornare ligula.</h3></div>
                    <div class="about-page-top"><span class="about-btm-list-span"></span><h3>Ves tibulum purus diam ulum auctor libero vel ex volutpat porta.</h3></div>
                    <div class="about-page-top"><span class="about-btm-list-span"></span><h3>Suspendisse sit amet pulvinar tortor, et ornare ligula.</h3></div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>

    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/css/history-slider.css" />
<!-------------History-Slider---------->
<div class="container-fluid slider-bg">
    <div class="container padd-70">
        <div class="col-md-12 text-center">
            <h2 class="welc-h3" style="color:#FFF; margin-bottom:0;">OUR HISTORY</h2>
            <span class="contact-underline"></span>
        </div>
        <div class="col-md-12">

            <section class="cd-horizontal-timeline">

                @*<div class="timeline">

                    <div class="events-wrapper">
                        <div class="events">
                            <ol>
                                <li><a href="#0" data-date="16/01/2014" class="selected">1990</a></li>
                                <li><a href="#0" data-date="28/01/2014">1995</a></li>
                                <li><a href="#0" data-date="20/02/2014">2000</a></li>
                                <li><a href="#0" data-date="20/03/2014">2005</a></li>
                                <li><a href="#0" data-date="09/04/2014">2010</a></li>
                                <li><a href="#0" data-date="18/04/2014">2017</a></li>
                                <div class="clearfix"></div>
                            </ol>

                            <span class="filling-line" aria-hidden="true"></span>
                        </div> <!-- .events -->
                    </div> <!-- .events-wrapper -->

                    <ul class="cd-timeline-navigation">
                        <li><a href="#0" class="prev inactive"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                        <li><a href="#0" class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></a></li>
                    </ul> <!-- .cd-timeline-navigation -->
                </div> <!-- .timeline -->*@

                <div class="events-content">
                    <ol>
                        <li class="selected" data-date="16/01/2014">
                            <div class="col-md-6"><img src="images/about-us-history.jpg" class="img-responsive" /></div>
                            <div class="col-md-6">
                                <em>1990</em>
                                <h2>Vestibulum porttitor</h2>
                                <p>Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elemen tum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentesque tempor sem in metus pretium egestas. Suspendisse sit amet pulvinar tortor, et ornare ligula. Ves tibulum purus diam. Vestibulum auctor libero vel ex volutpat porta. In tempor vel nulla ut consequat.</p>
                                <p>Sagittis et erat non, iaculis tristique lacus. Aenean quam nunc, frin gilla vel dapibus sit amet, portti tor scelerisque neque.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li data-date="28/01/2014">
                            <div class="col-md-6"><img src="images/about-us-history-2.jpg" class="img-responsive" /></div>
                            <div class="col-md-6">
                                <em>1995</em>
                                <h2>pretium tellus</h2>
                                <p>Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elemen tum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentesque tempor sem in metus pretium egestas. Suspendisse sit amet pulvinar tortor, et ornare ligula. Ves tibulum purus diam. Vestibulum auctor libero vel ex volutpat porta. In tempor vel nulla ut consequat.</p>
                                <p>Sagittis et erat non, iaculis tristique lacus. Aenean quam nunc, frin gilla vel dapibus sit amet, portti tor scelerisque neque.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li data-date="20/02/2014">
                            <div class="col-md-6"><img src="images/about-us-history-3.jpg" class="img-responsive" /></div>
                            <div class="col-md-6">
                                <em>2000</em>
                                <h2>Suspendisse sit</h2>
                                <p>Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elemen tum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentesque tempor sem in metus pretium egestas. Suspendisse sit amet pulvinar tortor, et ornare ligula. Ves tibulum purus diam. Vestibulum auctor libero vel ex volutpat porta. In tempor vel nulla ut consequat.</p>
                                <p>Sagittis et erat non, iaculis tristique lacus. Aenean quam nunc, frin gilla vel dapibus sit amet, portti tor scelerisque neque.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li data-date="20/03/2014">
                            <div class="col-md-6"><img src="images/about-us-history-5.jpg" class="img-responsive" /></div>
                            <div class="col-md-6">
                                <em>2005</em>
                                <h2>Vestibulum porttitor</h2>
                                <p>Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elemen tum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentesque tempor sem in metus pretium egestas. Suspendisse sit amet pulvinar tortor, et ornare ligula. Ves tibulum purus diam. Vestibulum auctor libero vel ex volutpat porta. In tempor vel nulla ut consequat.</p>
                                <p>Sagittis et erat non, iaculis tristique lacus. Aenean quam nunc, frin gilla vel dapibus sit amet, portti tor scelerisque neque.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li data-date="09/04/2014">
                            <div class="col-md-6"><img src="images/about-us-history-6.jpg" class="img-responsive" /></div>
                            <div class="col-md-6">
                                <em>2010</em>
                                <h2>tibulum purus</h2>
                                <p>Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elemen tum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentesque tempor sem in metus pretium egestas. Suspendisse sit amet pulvinar tortor, et ornare ligula. Ves tibulum purus diam. Vestibulum auctor libero vel ex volutpat porta. In tempor vel nulla ut consequat.</p>
                                <p>Sagittis et erat non, iaculis tristique lacus. Aenean quam nunc, frin gilla vel dapibus sit amet, portti tor scelerisque neque.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li data-date="18/04/2014">
                            <div class="col-md-6"><img src="images/about-us-history-4.jpg" class="img-responsive" /></div>
                            <div class="col-md-6">
                                <em>2017</em>
                                <h2>scelerisque neque</h2>
                                <p>Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elemen tum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentesque tempor sem in metus pretium egestas. Suspendisse sit amet pulvinar tortor, et ornare ligula. Ves tibulum purus diam. Vestibulum auctor libero vel ex volutpat porta. In tempor vel nulla ut consequat.</p>
                                <p>Sagittis et erat non, iaculis tristique lacus. Aenean quam nunc, frin gilla vel dapibus sit amet, portti tor scelerisque neque.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ol>
                </div> <!-- .events-content -->

            </section>


        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--History-Slider-->
@*<script src="~/Scripts/jquery.mobile.custom.min.js"></script>*@
@*<script src="~/Scripts/history-slider.js"></script>*@
<!--Our-Team-->
<div class="container-fluid padd-70">
    <div class="container">

        <div class="col-md-12 text-center our-team">
            <h2 class="welc-h3">OUR TEAM</h2>
            <span class="testimonial-under"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas orci, vitae ullamcorper risus consectetur id.</p>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12">

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team-memb">
                        <div class="team">
                            <div class="team-memb-img"><img src="images/team-1.jpg" class="img-responsive" /></div>
                            <div class="team-memb-img-hover text-center">
                                <div class="team-inn">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="team-memb-body">
                            <h2>Johnsan Keyshop</h2>
                            <p class="story-p">Position</p>
                            <h4>Morbi eu nisi accumsan, pretiuma tellus at, ultricies enim elemen tum felis ligula, pretium tellus at, ultricies enim pretium tellus ligula at.</h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team-memb">
                        <div class="team">
                            <div class="team-memb-img"><img src="images/team-3.jpg" class="img-responsive" /></div>
                            <div class="team-memb-img-hover text-center">
                                <div class="team-inn">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="team-memb-body">
                            <h2>Natasha aevew</h2>
                            <p class="story-p">Position</p>
                            <h4>Morbi eu nisi accumsan, pretiuma tellus at, ultricies enim elemen tum felis ligula, pretium tellus at, ultricies enim pretium tellus ligula at.</h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team-memb">
                        <div class="team">
                            <div class="team-memb-img"><img src="images/team-2.jpg" class="img-responsive" /></div>
                            <div class="team-memb-img-hover text-center">
                                <div class="team-inn">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="team-memb-body">
                            <h2>Kishtin Lowsio</h2>
                            <p class="story-p">Position</p>
                            <h4>Morbi eu nisi accumsan, pretiuma tellus at, ultricies enim elemen tum felis ligula, pretium tellus at, ultricies enim pretium tellus ligula at.</h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team-memb">
                        <div class="team">
                            <div class="team-memb-img"><img src="images/team-4.jpg" class="img-responsive" /></div>
                            <div class="team-memb-img-hover text-center">
                                <div class="team-inn">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="team-memb-body">
                            <h2>Jessica Prition</h2>
                            <p class="story-p">Position</p>
                            <h4>Morbi eu nisi accumsan, pretiuma tellus at, ultricies enim elemen tum felis ligula, pretium tellus at, ultricies enim pretium tellus ligula at.</h4>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>

        </div>

        <div class="clearfix"></div>

    </div>
</div>


<!--Gallery-slider-->
<!-- Sidebar Horizontal -->
@{ Html.RenderPartial("_SliderHorizontal"); }
<!-- Sidebar Horizontal Fin -->
<!---------------testimonial-------------------->
<div class="container-fluid padd-70" style="background-image:url(images/welcome-bg.jpg); background-repeat:no-repeat;">

    <div class="container">

        <div class="col-md-12 text-center">
            <h2 class="welc-h3">TESTIMONIALS</h2>
            <span class="testimonial-under"></span>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="images/testimonial-1.jpg" alt="">
                        </div>

                        <p class="description">
                            “Pellentesque congue nisi quis nisi ullamcorper sollicitudin. Duis hendrerit, magna ornare dapibus, nulla ipsum iaculis nisl, a malesuada arcu quam ut dolor. Fusce dolor erat, eget lobortis eget, hendrerit vel turpis. Mauris accumsan at nibh a lacinia. dit mauris quam, nec commodo dui tincidunt in”
                        </p>
                        <h3 class="testimonial-title"> - Natasha Mascara</h3>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="images/testimonial-2.jpg" alt="">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                        </p>
                        <h3 class="testimonial-title"> - Lucius Cashmere</h3>
                    </div>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="images/testimonial-3.jpg" alt="">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                        </p>
                        <h3 class="testimonial-title"> - Jesse Phoenix</h3>
                    </div>

                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>

        </div>
    </div>

</div>