
<div class="container-fluid center-right advt-slider">
    <div class="center-right-black padd-50">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="welc-h3" style="color:#FFF; margin-bottom:0;">EVENTOS</h2> <span class="contact-underline"></span>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <div id="advtslider" class="owl-carousel">
                    <div class="testimonial"> <img src="images/muro/muro-1.jpg" class="img-responsive" alt=""> </div>
                    <div class="testimonial"> <img src="images/muro/muro-2.jpg" class="img-responsive" alt=""> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>