<div class="container-fluid" style="padding:0;">
    <ul class="bxslider">
        <li><img src="images/sliders_horizontal/gallery-7.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-1.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-9.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-4.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-5.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-6.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-3.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-8.jpg" /></li>
        <li><img src="images/sliders_horizontal/gallery-2.jpg" /></li>
    </ul>
</div>
