<div class="container-fluid contact-bg">
    <div class="container padd-50 contact-container">

        <div class="col-sm-4 col-md-4">

            <h3 class="welc-h3">CONTACTO</h3>
            <span class="testimonial-under" style="width:130px; margin-bottom:10px;"></span>

            <div class="location">
                <i class="flaticon-placeholder" aria-hidden="true"></i>
                <span>Av. San Martin Mz. K LT. 25 Valle Saron - San Juan de Lurigancho,<br /> Lima, Perú.</span>
            </div>
            <div class="line"></div>
            <div class="cal">
                <i class="flaticon-phone-call" aria-hidden="true"></i>
                <span>(01) 650 4729</span>
            </div>
            <div class="line"></div>
            <div class="location">
                <i class="flaticon-envelope" aria-hidden="true"></i>
                <span>lancenterale@gmail.com</span>
            </div>
            <div class="line"></div>
            <div class="location">
                <i class="flaticon-clock" aria-hidden="true"></i>
                <span>
                    Lunes a Sábado: 9:00 am - 9:00 pm<br />
                    Domingo: 9:00 am - 7:00 pm
                </span>
            </div>

        </div>

        <div class="col-sm-8 col-md-8">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2459.895299933732!2d-77.00662487246102!3d-11.967944919558045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTHCsDU4JzAzLjEiUyA3N8KwMDAnMTkuOSJX!5e0!3m2!1ses-419!2spe!4v1546742833785" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

        <div class="clearfix"></div>

    </div>
</div>