<div class="container-fluid newslatter-bg">
    <div class="container">

        <div class="col-md-12 text-center">
            <h3 class="welc-h3" style="color:#fff;">Registrese para recibir información</h3>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-1"></div>

        <div class="col-md-10">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 input-top newslatter-btm">
                <input type="email" placeholder="Ingrese su nombre" class="input-box">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 input-top newslatter-btm">
                <input type="email" placeholder="Ingrese su correo electrónico" class="input-box">
            </div>

            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-offset-0 col-md-3 col-lg-2 input-top newslatter-btm" style="padding:0 5px;">
                <a href="#" class="newslatter-submit text-center">REGISTRARSE</a>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="col-md-1"></div>

        <div class="clearfix"></div>

    </div>
</div>
